@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "bootstrap/bootstrap";
@import "base";

// COMPASS Skillz
//	@include transform(scale(0.4));
//	@include transition( all .5s );

// :::::::::::::::::::::::::::::::::::

body{

}

.container{
    opacity: 0;
}

#canvaspad{
    width:100%;
    height:100%;
}

.content{
	padding-top: 60px;
}

.navbar{
    height:50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px;
}

.navitem{
  float:left;
  line-height: 50px;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  @include transition( color .5s );
}
.navitem:hover{
  color:red;
}

.details{
  padding-left: 80px;
  padding-right: 80px;
}

.copyrights{
  margin-top: 20px;
  height:100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0px;
  color: white;
  line-height: 50px;
  p{
    margin-left: 20px;
  }
}

.clear{
  clear:both;
}

h5 {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 4px;
}

.thumbnails{
  margin-left:20px;
}
.thumbnail {
    min-width: 260px;
    border-radius: 30%;
}

.thumbnails li {
  float:left;
  margin-left: 0px;
  margin-right: 20px;

}

.home-hero {
    font-size: 36;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -19px;
    padding: 10px;
    text-align : center;
    text-shadow: 1px 1px 1px #000;
}

.home-hero .btn {
    width: 160px;
    margin: 10px 4px;
}

.about li{
  list-style:circle;
}
